* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: #1a1a1a;
  color: #f1c40f;
  text-align: center; 
} 

.welcome {
  font-size: 3rem;
  font-weight: bold;    
  margin: 60px 0 80px; 
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.Subs {
  margin-top: 45px;
  margin-bottom: 45px;
  color: #ff7300;
}

li {
  color: #ff7300; 
  text-decoration: none; 
  font-weight: bold;
}

a { 
  color: #f1c40f;
  text-decoration: none; 
  font-weight: bold; 
}

a:hover{
  text-shadow: 0 0 5px #ffa500;
}

.menu {
  list-style: none;
  width: 600px;
  margin: 0 auto; 
}

.menu li {
  margin: 20px 0;
  border: 5px solid #333;
  border-radius: 12px;
  position: relative;
}

.menu-bar {
  display: block;
  width: 100% ;
  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f1c40f;
  text-decoration: none;
  background: linear-gradient(to right, #222, #111);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.menu-bar:hover {
  background: #4e4949;
  color: #f1c40f;
  text-shadow: 0 0 5px #ffa500;
}

.submenu {
  display: none;
  position: absolute;
  top: 101%;
  left: 0;
  z-index: 1000;
  background: #070707;
  width: 100%;
  border-radius: 0 0 8px 8px;
  list-style: none;
}

.submenu li {
  border-radius: 20px;
  padding: 15px 20px;
  border-bottom: 1px solid #333;
  color: #f87800f8;
  font-weight: bold;
  overflow: auto ;
}

.submenu a{
  padding: 15px 20px;
  width: 100%;
  font-weight: bold;
  overflow: auto ;
}

.submenu li:last-child {
  border-bottom: none;
}

.menu li:hover .submenu {
  display: block;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
